body{
    font-family: 'Times New Roman', Times, serif;
    background-color: azure;
 
}
.title{
    margin: 20px;
}
form{
    background-color: aliceblue;
    display: flex;
    flex-direction:column;
    gap: 10px;
}
#delete{
    text-decoration: none;

}
.Get_data{
    width: 100%;
    background-color: aliceblue;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}
#submit{
    width:100px
}
#title{
    width: 170px;
    border-bottom: 1px solid black;
    padding: 10px;
}   
#description{
    width: 350px;
    text-align: justify;
}
.nav{
    background-color: yellow;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
}
textarea{
    border-radius: 10px;
    
}
.content{
    background-color: aliceblue;
    display:flex;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 10px;
    max-height:80vh;
    overflow-y: scroll;
    
}
.list_data{
    width: fit-content;
    height:fit-content;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid rgb(40, 39, 39);
    border-radius: 10px;
    background-color: white;
}